name: Tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'


jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: Set up GitHub Actions
      uses: actions/checkout@v3
    - name: Use Node.js 14.x
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'
    # - name: Ð¡heck if the repository is private
      # run: exit 1
      # if: ${{github.event.repository.private}}
    - name: Get testing lib
      run: set -eu && git clone --branch main --single-branch --depth 1 https://github.com/rpill/selfmade-tests.git
    - name: Run the tests
      run: bash selfmade-tests/run.sh
